doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="author" content="")
		title Contact | Flat Theme
		link(href="css/font-awesome.min.css" rel="stylesheet")
		link(href="css/animate.css" rel="stylesheet")
		link(href="sass/main.css" rel="stylesheet")
		link(href="css/materialize.min.css" rel="stylesheet")
		link(rel="shortcut icon" href="images/ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		body
			div.container-fluid
				nav.indigo.cyan.darken-4
					div.nav-wrapper
						a(href="#" data-activates="mobile-demo").button-collapse
							i.material-icons menu
						ul.right.hide-on-med-and-down
							li
								a(href="index.html") Home
							li
								a(href="about-us.html") About Us
							li
								a(href="services.html") Services
							li
								a(href="portfolio.html") Portfolio
							li
								a(href="blog.html") Blog
							li
								a(href="contact-us.html") Contact
						ul.side-nav#mobile-demo
							li
								a(href="index.html") Home
							li
								a(href="about-us.html") About Us
							li
								a(href="services.html") Service
							li
								a(href="portfolio.html") Portfolio
							li
								a(href="contact-us.html") Contact
				section.green.accent-3
					div.row.pad1.pad2.espacios
						div.col.s12.m6.l6
							h2.white-text About Us
							p.white-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
						div.col.s12.m6.l6
							p.white-text.right
								a(href="index.html").white-text Home/About Us
				section
					div.row.pad1.pad2
						div.col.s12.m3.l4
							h5 Contact Form
							form(action="action_page.php") 
							input(type="text" placeholder="First Name")
							br
							input(type="text" name="lastname" placeholder="Last name") 
							br
							input(type="text" name="Email" placeholder="Email")
							button.waves-effect.waves-light.btn Send Message
						div.col.s12.m3.l4
							form
								div.row
									div.input-field.col.s12
										textarea(placeholder="Message")#textarea1.materialize-textarea
						div.col.s12.m6.l4
							h5 Our Location
							div.google-maps
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15051.878582772542!2d-99.1732938!3d19.413717449999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff5c7c1a4133%3A0x52049d7ff7796577!2sJuanacatl%C3%A1n!5e0!3m2!1ses!2smx!4v1480627278346" width="250" height="250" frameborder="0" style="border:0" allowfullscreen)
				footer.cyan.darken-4
					div.row
						div.col.s12.m3.l3
							h5.white-text About Us
							p.grey-text.text-lighten-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						div.col.s12.m3.l3
							h5.white-text Links
							ul.grey-text.text-lighten-4
								li >Company Overview
								li >Meet The Team
								li >Our Awesome Partners
								li >Our Services
								li >Frequently Asked Questions
								li >Contact Us
								li >Privacy Policy
								li >Tems Of Use
								li >Copyright
						div.col.s12.m3.l3
							div.row
								h5.white-text Latest Blog
								div.col.s4.m4.l4
									img(src="images/blog/avatar.jpg").responsive-img
								div.col.s8.m8.l8
									small.white-text Pellentesque habitant morbi tristique senectus 
									br
									small.white-text Posted 17 August 2013
							div.row
								div.col.s4.m4.l4
									img(src="images/blog/thumb2.jpg").responsive-img
								div.col.s8.m8.l8
									small.white-text Pellentesque habitant morbi tristique senectus 
									br
									small.white-text Posted 17 August 2013
							div.row
								div.col.s4.m4.l4
									img(src="images/blog/thumb3.jpg").responsive-img
								div.col.s8.m8.l8
									small.white-text Pellentesque habitant morbi tristique senectus 
									br
									small.white-text Posted 17 August 2013
						div.col.s12.m3.l3
							h5.white-text Address
							address.grey-text.text-lighten-4 Twitter, Inc. 795 Folson Ave, Suite 600 San Francisco, CA 94107 P:(123)456-7890
					div.row
						div.col.s12.m12.l12
							p.white-text © 2014 Copyright Text






								
							
							


		script(src="js/jquery.js")
		script(src="js/html5shiv.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")
